/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.sass-cache
resources/sass/.sass-cache
public/css
public/js
public/fonts
resources/sass/*.css
resources/sass/*.css.map
.idea
