@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";

// Body
$background-color-dark: rgba(0, 0, 0, 0.81);
$background-color-light: #F0F0F0;

// Typography
$font-family-open-sans: 'Open Sans', sans-serif;

// Colors
$text-colour: #CCCCCC;
$link-colour: #AAAAAA;
$accent-colour: #E9700D;
