@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import 'mixins';

$text-colour: #CCCCCC;
$background-color-dark: rgba(0, 0, 0, 0.81);
$background-color-light: #F0F0F0;
$accent-colour: #E9700D;

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: $background-color-light;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 60%;
}

.wide-container {
    width: 70%;
}

.container,
.wide-container {
    margin: 0 auto;
}

.page-header {
    margin: 20px 0;
}

.nav-bar {
    display: flex;
}

#nav {
    @include box-shadow;
    display: flex;
    flex-flow: row;
    background-color: $background-color-dark;
    color: $text-colour;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;

    #left {
        justify-content: flex-start;

        .list-item {
            margin-right: 20px;
        }
    }

    #right {
        margin-left: auto;
        justify-content: flex-end;
    }

    li {
        display: inline-block;

        a {
            color: $text-colour;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

#admin-panel-wrapper {
    display: flex;
    justify-content: left;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.admin-panel-item {
    @include box-shadow;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background-color: #ff3446;

    p {
        font-size: 14px;
    }
}

table {
    @include box-shadow;
    width: 100%;
    margin: 30px auto;
    background-color: white;
    box-sizing: border-box;
    border-collapse: collapse;

    th {
        border-bottom: 1px solid $text-colour;
        padding: 10px;
        text-align: left;
    }

    td {
        border-bottom: 1px solid $text-colour;
        padding: 13px 10px;
    }

    a {
        color: #666666;

        &:hover {
            text-decoration: underline;
        }
    }
}

.btn {
    width: 125px;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    font-size: 13px;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

.btn-primary {
    background-color: $accent-colour;
    color: white;
}

#pagination-container {
    @include box-shadow;
    background-color: white;
    max-width: 30%;
    margin: 30px auto;
    padding: 10px;
}

.pagination {
    text-align: center;
}

.pagination li {
    display: inline-block;
    font-weight: bold;

    &.active {
        padding: 3px 8px;
        background-color: $accent-colour;
        color: white;
        border-radius: 5px;

        &:hover {
            background-color: $accent-colour;
        }
    }

    &.disabled {
        padding: 3px 8px;

        &:hover {
            color: #666666;
        }
    }

    &:hover {
        color: white;

        a {
            background-color: #CCCCCC;
            border-radius: 5px;
            padding: 3px 8px;
            color: white;
        }
    }

    a {
        padding: 3px 8px;
        color: #666666;
    }
}

#article-filter {
    @include box-shadow;
    margin-top: 30px;
    background-color: white;
    padding: 10px;
}
