@import 'general';

* {
    margin: 0;
    font-family: $font-family-open-sans;
}

body {
    padding: 0;
    background-color: $background-color-light;
    font-size: 16px;
}

.container {
    width: 60%;
}

.wide-container {
    width: 70%;
}

.container,
.wide-container {
    margin: 0 auto;
}

.nav-bar {
    display: flex;
}

#nav {
    @include box-shadow;
    display: flex;
    flex-flow: row;
    background-color: $background-color-dark;
    color: $text-colour;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;

    #left {
        justify-content: flex-start;

        .list-item {
            margin-right: 20px;
        }
    }

    #right {
        margin-left: auto;
        justify-content: flex-end;
    }

    li {
        display: inline-block;

        a {
            color: $link-colour;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.edit_buttons {
    display: flex;

    .edit_buttons_main {
        flex-grow: 1;
    }
}

#article-list {
    ul {
        list-style-type: disc;
    }

    .article-content {
        margin: 20px 0;
    }
}

#article-list {
    padding-bottom: 50px;
}

.article {
    @include box-shadow;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 25px;

    a {
        color: $link-colour;
    }
}

