.form-group {
    width: 100%;
    margin-bottom: 30px;
}

.form-control {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

textarea {
    height: 200px;
}

.ck-editor__editable {
    min-height: 200px;
    max-height: 500px;

    ul {
        list-style-type: disc;
    }
}
